body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f82e40;
    color: white;
}

h1 {
    position: relative;
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
    margin-left: 2%;
    margin-top: 20px;
}

.insert {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.insert label {
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 20px;
}

.insert input {
    background-color: rgba(26, 32, 44, 0.11);
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10%;
    border: none;
    border-radius: 10px;
}

.insert select {
    background-color: rgba(26, 32, 44, 0.11);
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    width: 62.5%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10%;
    border: none;
    border-radius: 10px;
}

.save input{
    position: absolute;
    background-color: #a3afe4;
    margin-left: 55%;
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 35px;
    width: 35%;
    height: 75px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.save input:hover {
    transform: scale(1.1);
    background-color: #85c712;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.cancel button {
    position: absolute;
    background-color: #a3afe4;
    margin-left: 10%;
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 35px;
    width: 35%;
    height: 75px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.cancel button:hover {
    transform: scale(1.1);
    background-color: red;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}