.back {
    margin-top: 70px;
}
.back button{
    background-color: rgba(26, 32, 44, 0.09);
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: -0.5%;
    cursor: pointer;
    transition: 0.3s;
}

.back button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.product-card {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.product {
    width: 550px;
    height: 550px;
    background-color: rgba(26, 32, 44, 0.09);
    border-radius: 20px;
    margin: 7%;
    transition: 0.3s;
    margin-top: 4%;
}

.product img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25%;
    height: 45%;
}

span {
    font-size: 23px;
    color: #BFC6EC;
    font-weight: bold;
    font-style: italic;;
}

.details {
    text-align: left;
    margin-right: 15%;
    width: 80%;
}

.details h2{
    font-size: 35px;
}

.details span1 {
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}

.details p{
    font-size: 18px;
    margin-top: -10px;
}

.buy {
    background-color: #a3afe4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 85%;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buy:hover {
    transform: scale(1.1);
    background-color: #85c712;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    transition: 0.3s;
}

.details h3{
    font-size: 35px;
    margin-top: 20px;
}
